*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}
nav{
    background-color: aqua;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav ul{
    padding: 20px;
    border-radius: 30px;
    background-color:brown;
    list-style:none;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li{
    padding: 0 10px;
}
li a{
    color: white;
    text-decoration: none;
}
nav li:first-child{
    margin-right:auto ;
}
nav a:hover{
    background-color: blanchedalmond;
    color: antiquewhite;
}
.sidebar{
    position:fixed;
    border-radius: 0;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color:black;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    z-index: 999;
    
}
.Menu-btn{
    display: none;
}
.sidebar li{
    width: 100%;
}
@media (max-width:800px){
    .hide{
        display: none;
    }
    .Menu-btn{
        display: block;
    }
}